*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left-page {
  position: relative;
  width: 35%;
  overflow: hidden;
  background-image: url("leaf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.right-page {
  width: 65%;
}

.transparent-div {
  position: absolute;
  top: 22vh;
  width: 100%;
  height: 17vh;
  outline: 5px solid black;
  background-color: black;
  opacity: 0.5;
}

.odin-container {
  position: absolute;
  display: flex;
  height: 17vh;
  justify-content: center;
  align-items: center;
}

.odin-logo {
  width: clamp(2rem, 12vh, 8rem);
}

@font-face {
  font-family: norseBold;
  src: url("Norsebold.otf");
}

.odin-text {
  font-family: norseBold;
  font-size: clamp(2rem, 10vh, 7rem);
  color: white;
}
